<form [formGroup]="noteTakeForm" (ngSubmit)="updateNote()">
    <div>addNote
        <mat-form-field>
            <mat-label>Title for the note </mat-label>
            <input matInput type="text" name="title" formControlName="title">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Text for the note </mat-label>
            <textarea matInput name="" id="" cols="30" rows="10" formControlName="text"></textarea>
        </mat-form-field>
    </div>
    <div class="example-button-row">
        <button mat-button color="primary" type="submit">Update</button>
    </div>
</form>